<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset= "UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-alertable/1.0.1/jquery.alertable.min.js"></script>
  <script>
    function detail(blogId){
      $.getJSON("/findById/" + blogId, function (result) {
        if (result.error) {
          alert("Error: " + result.error);
        } else {
          alert("Blog Detail: id=" + result.id +", name=" + result.name);
        }
      })
    }
  </script>
</head>
<body>
<a th:href="@{/blogs/create}">Create new blog</a>
<h1>BLOG LIST</h1>
<form>
  Search by name:
  <input name="search" type="text"/>
  <input type="submit" value="Search"/>
</form>
<table border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Author</th>
    <th>Access</th>
    <th>Delete</th>
    <th>Detail</th>
  </tr>
  </thead>
  <tr th:each="b : ${blogs}">
    <td th:text="${b.id}"></td>
    <td>
      <a th:href="@{/blogs/update/{id}(id=${b.id})}" th:text="${b.name}"></a>
    </td>
    <td th:text="${b.author}"></td>
    <td>
      <a th:href="@{${b.access}}" th:text="link"></a>
    </td>
    <td>
      <a th:href="@{/blogs/delete/__${b.id}__}" th:text="delete"></a>
    </td>
    <td><button th:onclick="|detail(${b.id})|">Detail</button></td>
<!--  gach doc de bindingdta-->
  </tr>
</table>
<div th:if="${search == null}">
  <a th:if="${blogs.hasPrevious()}" th:href="@{'/blogs'(page=${blogs.number - 1})}">Previous</a>
  <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
  <a th:if="${blogs.hasNext()}" th:href="@{'/blogs'(page=${blogs.number + 1})}">Next</a>
</div>
<div th:if="${search != null}">
  <a th:href="@{'/blogs'(page=${blogs.number - 1}, search=${search})}" th:if="${blogs.hasPrevious()}">Previous</a>
  <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
  <a th:href="@{'/blogs'(page=${blogs.number + 1}, search=${search})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>